.header-logo {
    width: 200px;
    height: 100px;
    background-image: url('images/mareslogo.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Cnav-links {
    display: flex;
    align-items: center;
   
  }
  
  .Cnav-link {
    margin-right: 12px; /* Adjust margin-right for space between items */
    margin-left: 12px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 500;
    color: var(--dark-color);
  }
  

  .Cnav-link:hover {
    color: var(--gray-color);
  }